* {
    margin: 0;
    padding: 0;
}

.contact_btn button {
    padding: 10px 40px;
    border-radius: 50px;
    font-family: popSemiBold;
    text-transform: uppercase;
    border: none;
    transition: 0.5s;
    color: #fff;
    background-color: red;
}

.contact_btn button:hover {
    background-color: red;
    color: black;
}